@charset "iso-8859-2";
/* CSS Document */

* 											{ margin:0px; padding:0px; border:0px; outline:none; }
a 											{ text-decoration:none; }
body 										{ margin:0 auto; text-align:center; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:14px; background:#266038; /*url(../img/bg_index.png) center top no-repeat;*/ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
button, button:focus, button:active			{ border:0; padding:5px 0 8px 0; margin:0px; color:#132c19; font-weight:bold; font-size:14px; background:none; outline:none; }

#content									{ width:360px; margin:0 auto; text-align:left; padding:0; }

/* INDEX */

#ingresar, #comenzar									{ width:100%; text-align:center; background:url(../img/lineas_1.png) center no-repeat; padding:55px 0 ; margin:0px 0 0 0; }
#ingresar_index 							{ width:100%; text-align:center; background:url(../img/lineas_1.png) center no-repeat; padding:55px 0 ; margin:0px 0 0 0; }

#ingresar button, #ingresar_index button, #comenzar button	{ height:46px; width:161px; background:url(../img/bottom.png) center no-repeat; font-size:16px; }
#nuevo_continuar 							{ width:100%; text-align:center; background:url(../img/lineas_2.png) center no-repeat; padding:3px 0; }
#nuevo_continuar button 					{ width:109px; height:38px; background:url(../img/bottom.png) center no-repeat; }
#nuevo_continuar button.btn_1 				{ margin:0 0 0 1px; }
#nuevo_continuar button.btn_2 				{ margin:0 0 0 1px; }
#splash										{ padding:20px 0 0 0; margin:0; text-align:center; }

#splash	.texto,	#splash	.carta				{ margin:35px 0 0 0; }

/* linea ornamental */
#deco										{ width:100%; height:32px; background:url(../img/linea_deco.png) center bottom no-repeat; padding:0; margin:0 0 15px 0;}

/* LOGIN */
#logo_login									{ padding:20px 0 10px 0; text-align:center; }
#versus										{ width:32px; height:14px; text-align:center; margin:0 auto 20px; }
#separador_pie								{ height:37px; background:url(../img/separador_pie.png) center top no-repeat; }

#campo_1, #campo_2							{ margin:4px auto; text-align:center; width:100%; }
#campo_1 input, #campo_2 input 				{ color:#666; height:48px; width:230px; border:none; padding:0 15px; margin:0 auto 18px; background:url(../img/input.png) no-repeat center top; color:#52AB5F; font-weight:bold; font-size:16px; }

/* check a 15 o a 30 puntos */
#check										{ width:298px; height:20px; margin:15px auto 10px; padding:0 0 10px 38px;}
#check button								{ width:130px; height:24px; overflow:hidden; background:url(../img/check.png) 0 0 no-repeat;  color:#132C19; font-weight:bold; font-size:16px; margin:0 5px 0 0; padding-top:0; text-align:right; margin:0 5px 0 0; padding-left:26px; padding-top:0; text-align:left;  }
#check button.activo	{ background-position:0 -24px;}
/* #check button:hover  { background-position:0 -24px;} */


/* CONTADOR - FOSFOROS */
#logo_counter								{ text-align:left; padding:0 0 0 0 0; width:360px; margin:0 auto; }
#logo_counter button.logo					{ width:151px; height:80px; margin:0 0 0 22px; padding:0; background:url(../img/logo_counter_.png) no-repeat top left ; }
#logo_counter button.clear					{ width:62px; height:75px; padding:0; margin:0 10px 0 0; background:url(../img/clear.png) no-repeat top left; float:right; }
#content_counter							{
	/*background:url(../img/bg_counter.png) no-repeat center top;*/ width:100%; margin:0 0 0 0;
}

/* nombres de equipos */
#content_counter #equipos 					{ width:360px; margin:0 0; background:url(../img/bg_counter.png) no-repeat; padding-bottom: 1px; }
#content_counter #equipos #nosotros_col,
#content_counter #equipos #ellos_col 		{ color:#132C19; float:left; font-size:18px; font-weight:bold; padding:5px 0; text-align:center; width:180px; color:#f7cc2f; text-shadow:0px 2px 1px #000000; }

/* content_counter flechas top */
#arrows_quince								{ width:360px; height:20px; margin:0 auto;  }
#arrows_quince #arrow_left 					{ width:40px; margin:0; float:left; }
#arrows_quince #arrow_right 				{ width:40px; float:right; margin:0; }
#arrows_quince button.quince				{ width:40px; height:43px; background:url(../img/15.png) no-repeat -40px -5px; padding:0 3px 10px 0; color:#fff; }
#arrows_quince button.quince:hover  		{ background-position:0 0; }

/* contenedor de fosforos */
#content_counter #content_fosforos			{ width:280px; margin:0 auto; padding:0 0 20px; }

/* modulos fosforos left */
#content_counter #left 						{ float:left; width:111px; margin:0; padding:0; }
/*#content_counter #left .modulo 				{ width:111px; height:104px; float:left; }*/
#content_counter #left .modulo 				{ width:111px; height:104px; float:left; margin:22px 0 0 0; }
#content_counter #left .modulo div			{ float:left; width:67px; }

/* modulos fosforos right */
#content_counter #right 					{ float:right; width:111px; margin:0; padding:0; }
/*#content_counter #right .modulo 			{ width:111px; height:104px; float:right; }*/
#content_counter #right .modulo 			{ width:111px; height:104px; float:right; margin:22px 0 0 0; }
#content_counter #right .modulo div			{ width:67px; float:left;  }

/* fosforos */
#content_counter .modulo button.fosforo_1	{ background:url(../img/fosforo_1.png) no-repeat -22px 0; width:22px; height:82px; float:left; margin-top:11px; }
#content_counter .modulo button.fosforo_2	{ background:url(../img/fosforo_2.png) no-repeat 0 -22px; width:67px; height:22px; float:left; margin:0; }
#content_counter .modulo button.fosforo_3	{ background:url(../img/fosforo_3.png) no-repeat -22px 0; width:22px; height:82px; float:left; margin-top:11px; }
#content_counter .modulo button.fosforo_4 	{ background:url(../img/fosforo_4.png) no-repeat 0 -22px; width:67px; height:22px; float:left; margin:0; }
#content_counter .modulo button.fosforo_5 	{ background:url(../img/fosforo_5.png) no-repeat 0 -59px; width:67px; height:59px; float:left; margin:0; }

/* hover fosforo *
#content_counter .modulo .fosforo_1:hover,
#content_counter .modulo .fosforo_3:hover 	{ background-position:-44px 0; }
#content_counter .modulo .fosforo_2:hover,
#content_counter .modulo .fosforo_4:hover 	{ background-position:0 -44px; }
#content_counter .modulo .fosforo_5:hover	{ background-position:0 -118px;}
*/
/* activo fosforo */
#content_counter .modulo button.activo 		{ background-position:0 0;}

/* content_counter flechas bottom */
#content_arrow_foot							{ width:360px; margin:0 auto;}
#content_arrow_foot button.volver			{ width:40px; height:28px; background:url(../img/arrow.png) no-repeat 0 0; position:relative; top:-32px; }
#content_arrow_foot button.volver:hover		{ background-position:0 -4px; }
#content_arrow_foot button.left				{ left:0; float:left; }
#content_arrow_foot button.right			{ right:0; float:right; }

/* publicidad de google*/
/*#publicidad								{ width:100%; text-align:center; padding:2px 0; }*/
#publicidad									{ bottom:0; margin:0 auto; padding:2px 0; position:absolute; text-align:center; width:360px; }

/* ventana emergente */
#popup, #popup2								{ width:100%; height:100%; background:rgba(0,0,0,0.5) repeat-y top center; top:0; left:0; position:fixed; z-index:99; display:none;}
#popup #mensaje								{ width:250px; height:131px; margin:0 auto; padding:20px; background:url(../img/bg_mensaje.png) no-repeat top center; top:190px; position:relative;}
#popup #mensaje div							{ color:#132C19; font-weight:bold; height:82px; margin:0 auto; width:230px; }
#popup #mensaje button						{ width:60px; height:50px;  background:url(../img/bg_buttom_sino.png); }
#popup #mensaje button#si					{ margin:0 37px;}
#popup #mensaje button#no					{ margin:0 26px 0 16px;}

#popup2 #mensaje2								{ width:250px; height:131px; margin:0 auto; padding:20px; background:url(../img/bg_mensaje.png) no-repeat top center; top:190px; position:relative;}
#popup2 #mensaje2 div							{ color:#132C19; font-weight:bold; height:82px; margin:0 auto; width:230px; }
#popup2 #mensaje2 button						{ width:60px; height:50px;  background:url(../img/bg_buttom_sino.png); }
#popup2 #mensaje2 button#si2				{ margin:0 37px;}
#popup2 #mensaje2 button#no2				{ margin:0 26px 0 16px;}
